<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/index.css">    
    <script src="../scripts/main.js" defer></script>
    <script> let currentPage = 'formacao';  </script>
    <link rel="stylesheet" href="/styles/formacao.css">
    <title>Trabalho Faculdade</title>
</head>
<body>
    <main>
            <div class="cursos">
            <h1>Cursando:</h1>
            <div class="curso">
                <h2>Uninter - Análise e desenvolvimento de sistemas</h2>
                <p>Aprendo fundamentos de programação, bancos de dados, desenvolvimento de software, análise de sistemas e arquitetura de aplicações.</p>
            </div>
            <div class="curso">
                <h2>Udemy - UI Designe com figma</h2>
                <p>Aprendo princípios de design de interfaces, usabilidade e criação de layouts atraentes e funcionais para aplicações e websites.</p>
            </div>
        </div>
        <div class="cursos">
            <h1>Cursado:</h1>
            <div class="curso">
                <h2>Alura - Python</h2>
                <p>Aprendo a lógica de programação e desenvolvimento de scripts, automações e aplicações básicas utilizando a linguagem Python.</p>
            </div>

            <div class="curso">
                <h2>Alura - Aplicações em Django</h2>
                <p>Estudo criação de aplicações web utilizando o framework Django, com foco em back-end, rotas, templates e integração com bancos de dados.</p>
            </div>
            <div class="curso">
                <h2>Alura - Html, Css e Js</h2>
                <p>Aprendo a criar páginas web, estilizar layouts e adicionar interatividade usando as linguagens fundamentais do front-end.</p>
            </div>
            <div class="curso">
                <h2>Alura - Git e GitHub</h2>
                <p>Estudo controle de versões, gerenciamento de código fonte e colaboração em projetos usando Git e GitHub.</p>
            </div>
        </div>
    </main>
    
    
</body>
</html>