<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/portfolio.css">
    <script src="../scripts/main.js" defer></script>
    <script> let currentPage = 'portfolio';  </script>
    <title>Trabalho Faculdade</title>
</head>
<body>
    <main>
        <div class="project">
            <img src="/assets/Portfolio Publico.svg" alt="Portfolio Public">
            <div class="project_content">
                <div class="project_description">
                    <h1>Portfolio web em desenvolvimento</h1>
                    <p>Está é uma versão básica do meu portfolio, atualmente estou desenvolvendo ele com React e em breve lançarei uma versão bem mais completa com diversas outras funções e informações extras.</p>
                </div>
                
                <a href="https://miguelw15.netlify.app" target="_blank" class="view">
                VIEW
                </a>
            </div>
            
        </div>
        <div class="project">
            <img src="/assets/Portfolio Depredado.svg" alt="Portfolio Depredado">
            <div class="project_content">
                <div class="project_description">
                    <h1>Portfolio abandonado</h1>
                    <p>Um portfolio que iniciei e abandonei logo em seguida, mas vale a pena citar ele
                    pelo seu designe e estrutura</p>
                </div>
                <a href="https://percyw15.netlify.app" target="_blank" class="view">
                VIEW
                </a>
            </div>
        </div>
        <div class="project">
            <img src="/assets/Tabela.svg" alt="Tabela/Database">
            <div class="project_content">
                <div class="project_description">
                    <h1>Uma lista de pessoas e contatos</h1>
                    <p>Criei uma tabela que registra, edita e armazena dados de pessoas e contatos. Criei usando PHP, HTML, JS, CSS, PostgreeSQL e Doctrine ORM.</p>
                </div>
            </div>
        </div>
        <div class="project">
            <img src="/assets/Tic Tac Toe.svg" alt="Tic Tac Toe">
            <div class="project_content">
                <div class="project_description">
                    <h1>Jogo da velha</h1>
                    <p>Criei um jogo da velha simples, simples mas funcional, sem muitas funções apenas demonstrativo.</p> 
                </div>
                <a href="https://miguelw15.github.io/Tic-Tac-Toe/" target="_blank" class="view">
                VIEW
                </a>
            </div>
        </div>
    </main>
</body>
</html>